/* Add your styles here. */

* {
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
}

body {
  background-color: cyan;
  color: yellow;
  font-family: Helvetica, sans-serif;
  font-size: 2rem;

}
